# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ShapeViewer/Debug
/ShapeViewer/x64/
/Vendors/glad/Debug/
/Vendors/glad/x64/
/Vendors/glm/Debug/
/Vendors/glm/x64/
/Vendors/glm/glm/x64/
/Vendors/polyToTriang/Debug/
/Vendors/polyToTriang/x64/
/Vendors/spdlog/Debug/
/Vendors/spdlog/x64/
/x64/
